/* original
video, #screenshot-img {
  width: 400px;
  height: 300px;
}
*/
video {
  width: 400px;
  height: 300px;
}
#screenshot-img {
  width: 1px;
  height: 1px;
}
#screenshot-img2 {
  width: 200px;
  height: 150px;
}
