/* original
video, #screenshot-img {
  width: 400px;
  height: 300px;
}
*/
video {
  width: 400px;
  height: 300px;
}
#screenshot-img {
  width: 100px;
  height: 75px;
}
/*reducing size of image to try to get form to accept it*/
